
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
#Imagem{
height: 250px;
width: 500px;
}

h1,h2{
    font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  color: rgb(255, 0, 0);
 
}

