
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    text-align: center
    ;

}
body{
  background-color: rgb(103, 73, 158) ;
}
#Imagem{
height: 250px;
width: 500px;
}

h1,h2{
    font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  color: rgb(255, 0, 0);
 
}

div.imagem{
  width: 100%;
  align-items: center;
}

#JS{
height: 250px;
width: 500px;
justify-self: center;
}

.Título{
  text-align: left;
 box-sizing: content-box;
 
}

